In [59]:
# Codigo fuente para DA ver 17-5-23

# Codigo fuente para hacer DA

In [60]:
# paquetes
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix, accuracy_score
import matplotlib.pyplot as plt
#from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
#from sklearn.tree import DecisionTreeClassifier
#from sklearn.metrics import accuracy_score, confusion_matrix

In [61]:
    # Cargar datos
titanic_data = pd.read_csv("./data/Titanic.csv")
#----------
    # lectura de datos en Python si hay mas de uno
#train = pd.read_csv('./train.csv')
#test = pd.read_csv('./test.csv')

In [62]:
# Analisis de la data
    #titanic_data
titanic_data.head()
#titanic_data.info()
#titanic_data.columns
    # ---------
    # Estaidstica
    # ---------
#titanic["Age"].mean()
#titanic[["Age", "Fare"]].median()
#titanic_data.describe()
    #Aggregating statistics grouped by category
titanic_data[["Sex", "Age"]].groupby("Sex").mean()
#titanic.groupby("Sex")["Age"].mean()
titanic_data.groupby("Sex").mean(numeric_only=True)
#titanic.groupby(["Sex", "Pclass"])["Fare"].mean()
# ---------

#What is the number of passengers in each of the cabin classes?
#titanic["Pclass"].value_counts()

# ---------
    # Algo de estadistica manual
#women = titanic_data.loc[df.Sex == 'female']["Survived"]
#rate_women = sum(women)/len(women)
#print("% of women who survived:", rate_women)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
Sex,,,,,,,
female,439.829457,0.751938,2.077519,27.682171,0.647287,0.713178,47.291167
male,453.412804,0.205298,2.335541,30.726645,0.439294,0.271523,27.268836

In [63]:
# Convertimos valores textuales a numéricos
#titanic_data["Sex"] = pd.factorize(titanic_data["Sex"])[0]
#titanic_data["Embarked"] = pd.factorize(#titanic_data["Embarked"])[0]

In [64]:
    # DIBUJOS 1
# Tomamos par de datos
#titanic_data[['Survived','Age']].head()
#titanic_data.plot.scatter(x='Survived',y='Age')
#plt.show()

In [65]:
# Preprocesamiento de datos
#-----------
# Realiza una limpieza básica de datos
    #titanic_data.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1, inplace=True)
    #titanic_data['Age'].fillna(titanic_data['Age'].mean(), inplace=True)
    #titanic_data['Embarked'].fillna('S', inplace=True)
#-----------
# Crea variables dummy para las columnas categóricas
    #titanic_data = pd.get_dummies(titanic_data, columns=['Sex', 'Embarked'])

In [66]:
# Eliminamos columnas no relevantes para el análisis
#titanic_data= titanic_data.drop(columns=["PassengerId", "Name", "Ticket", "Cabin"])

In [67]:
# Rellenamos valores faltantes con la media
#titanic_data["Age"] = titanic_data["Age"].fillna(df["Age"].mean())

In [68]:
# Divide los datos en variables independientes y dependiente
#X = data.drop(['Survived'], axis=1)
#y = data['Survived']
#-----------
# Divide los datos en conjuntos de entrenamiento y prueba
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
#-----------
# Separar en datos de entrenamiento y prueba
#X_train, X_test, y_train, y_test = train_test_split(
#    titanic_data.drop('Survived', axis=1), titanic_data['Survived'], test_size=0.2, random_state=42)

# Entrenamiento

In [ ]:
# Entrena un modelo de regresión logística
#model = LogisticRegression()
#model.fit(X_train, y_train)#